<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <h1>Welcome, <%= username %>!</h1>
        <p>Start exploring  our recipes.</p>
        <a href="/recipe.html" class="btn">search recipes here</a>
        
    </div>
</body>
</html>
